# sbt
target/
project/plugins/project/
boot/
lib_managed/
src_managed/

# postgres
postgres-data/

# vim
*.sw?

# intellij
.idea/

# ignore [ce]tags files
tags

.metals/
.bsp/
.bloop/
metals.sbt
.vscode
.bsp
.scala-build
dest/
out/

# npm
node_modules/